@{
	ViewBag.Title = "You too can make terrible music with no effort.";
}

<h2>@ViewBag.Title</h2>

@Html.ValidationSummary()

@using(@Html.BeginForm("Index", "Upload", FormMethod.Post,
                                      new { enctype = "multipart/form-data" }))
{
	<input name="image" type="file" accept="images/*" required/>
	
	<input type="submit" value="upload"/>
}
